@page "/learn_4800"
@inject Client.Services.LogsService LogsService

<input type="text" class="form-control" @bind="Message" />
<br />
<button type="button" class="btn btn-primary" @onclick="AddLog">Add Log</button>

@code {

	public string Message { get; set; }

	public void AddLog()
	{
		LogsService.AddLog
			(type: GetType(), message: Message);

		Message = null;
	}

}
